[submodule "macro_keyboard_pcb/ProMicroKiCad"]
	path = macro_keyboard_pcb/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad.git
[submodule "macro_keyboard_pcb/Buttons_Switches_Keyboard.pretty"]
	path = macro_keyboard_pcb/Buttons_Switches_Keyboard.pretty
	url = https://github.com/KiCad/Buttons_Switches_Keyboard.pretty.git
[submodule "macro_keyboard_pcb/Cherry-MX-Breakout-Board"]
	path = macro_keyboard_pcb/Cherry-MX-Breakout-Board
	url = https://github.com/sszczep/Cherry-MX-Breakout-Board.git
[submodule "macro_keyboard_pcb/kicad-libraries"]
	path = macro_keyboard_pcb/kicad-libraries
	url = https://github.com/sszczep/kicad-libraries.git
